@import url("https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar for Chrome, Safari and Opera */
.hidescrollbar::-webkit-scrollbar {
	display: none;
}
h1 {
	font-family: "Nousu SIL", serif;
	@apply underline underline-offset-1;

	text-decoration-color: #361d32;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hidescrollbar {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}
